{%extends 'adminindex.html'%}
{%block content%}
{%load static%}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f0f0f0;">
    <div class="col-md-4 offset-md-0">
        <div class="card">
            <div class="card-body">
                {% block catoff %}
                <h2 class="text-center">Add Category</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputField" name="addcategoryfield" placeholder="Enter Category here">
                    </div>
                    <!-- Add more form fields as needed -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success mt-2">Add</button>
                    </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{%endblock%}
