{%extends 'add_category.html'%}
{%block catoff%}
{% block coupons %}
{% for message in messages %}
										<div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert" style="border: 2px solid red; width: 100%;">
											<i class="fa fa-thumbs-down" style="color: red; margin-right: 10px;"></i>
											<span>{{ message }}</span>
										</div>
									{% endfor %}
                <h2 class="text-center">Apply Discount</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputField" name="percentage" placeholder="Enter Discount Percenetage" required>
                        
                        <input class="form-control mt-2" type="datetime-local" id="datetime" name="datetime" required>
                    </div>
                    <!-- Add more form fields as needed -->
                    <div class="text-center"> <!-- Add this div to center-align the button -->
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    </div>
                </form>
                {% endblock coupons %}
                {%endblock%}