<!doctype html>
<html lang="en">
{%load static%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="{% static "assets/images/logos/favicon.png" %}" />
  <link rel="stylesheet" href="{% static "assets/css/styles.min.css" %}" /> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-c0UoU4Ggzv0K4PKMOGQECfV5UtOEvqLbOyFQ8n1bB9DIByK6WyhW4WS2z2R6XbMa" crossorigin="anonymous">

<!-- Bootstrap CSS from CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  .body{
    overflow-x: hidden;
  }
</style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Admin</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'adminpg'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Product Informations</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'admincategory'%}" aria-expanded="false">
                <span>
                  <i class="fa fa-list"></i>
                </span>
                <span class="hide-menu">Category</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'size'%}" aria-expanded="false">
                <span>
                  <i class="fa fa-expand"></i>
                </span>
                <span class="hide-menu">Size</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'brand'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-flag"></i>
                </span>
                <span class="hide-menu">Brand</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'coupons'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-ticket"></i>
                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>
           
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'adminproduct'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-shirt"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'salesreport'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Sales Report</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">User Details</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'userhandling'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Users</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'reviews'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Reviews</span>
              </a>
            </li>
           
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{%url 'logout'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
           
          </ul>
          <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                {% comment %} <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6> {% endcomment %}
                <a href="{%url 'shop'%}" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Go To Shop</a>
              </div>
              <div class="unlimited-access-img">
                <img src="../assets/images/backgrounds/rocket.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
    {%block content%}
   
      <!--  Header Start -->
     
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
          <div class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">Sales Overview</h5>
                  </div>
                  <div>
                    <form method="POST">
                      {%csrf_token%}
                      <label for="selectedYear">Select Year:</label>
                      <select name="year" id="yearSelect">
                        <option value="2022" {% if selected_year == 2022 %}selected{% endif %}>2022</option>
                        <option value="2023" {% if selected_year == 2023 %}selected{% endif %}>2023</option>
                        <!-- Add more options as needed -->
                      </select>
                      <button type="submit" class="btn btn-primary btn-sm mb-">Generate Chart</button>
                    </form>
                  </div>
                </div>
                <div id="chart">  <div>
                  <canvas id="myChart"></canvas>
                </div>
                
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                
                <script>
                  const ctx = document.getElementById('myChart');
                
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{labels|safe}},
                      datasets: [{
                        label: 'Sales Chart',
                        data: {{data|safe}},
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                </script></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <!-- Yearly Breakup -->
                <div class="card overflow-hidden">
                  <div class="card-body p-4">
                    <h5 class="card-title mb-9 fw-semibold"> Yearly Breakup</h5>
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="fw-semibold mb-3">${{total}}</h4>
                       
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="me-4">
                            <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                            <span class="fs-2">{{selected_year}}</span>
                          </div>
                          
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-center">
                          <div id="breakup"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-4">
                <!-- Payment Percentage Box with Progress Bars -->
                <div class="card overflow-hidden">
                    <div class="card-body p-4">
                        <h5 class="card-title mb-3 fw-semibold">Payment Percentage</h5>
                        <div class="row">
                            <div class="col-6">
                                <h4 class="fw-semibold mb-3">COD</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{cod}}%;" aria-valuenow="{{cod}}" aria-valuemin="0" aria-valuemax="100">{{cod}}%</div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h4 class="fw-semibold mb-3">Online Payments</h4>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: {{ online_payment_percentage }}%;" aria-valuenow="{{ online_payment_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ online_payment_percentage }}%</div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="mb-4">
                  <h3 class="card-title fw-semibold">Transactions</h3>
                </div>
                
                <ul class="timeline-widget mb-0 position-relative mb-n5">
                  <h5>Online Transactions</h5>
<ul>
  {% for transaction in paid_transactions %}
  <li class="timeline-item d-flex position-relative overflow-hidden">
    <div class="timeline-time text-dark flex-shrink-0 text-end">{{transaction.created_at}}</div>
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
      <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
    </div>
    <div class="timeline-desc fs-3 text-dark mt-0">{{transaction.payment}}</div>
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
      <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
    </div>
    <div class="timeline-desc fs-3 text-dark mt-0">{{transaction.user}}</div>
  </li>
  {% endfor %}
</ul>

<!-- Display transactions for COD orders -->
<h5>COD Transactions</h5>
<ul>
  {% for transaction in transactions_cod %}
  <li class="timeline-item d-flex position-relative overflow-hidden">
    <div class="timeline-time text-dark flex-shrink-0 text-end">{{transaction.created_at}}</div>
    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
      <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
    </div>
    <div class="timeline-desc fs-3 text-dark mt-n1">{{transaction.payment}}</div>
  </li>
  {% endfor %}
</ul>
                  
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-8 d-flex align-items-stretch  overflow-hidden">
            <div class="card w-100">
              <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Recent Orders</h5>
                <div class="table-responsive ">
                  <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Id</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Name</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Address</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Status
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Order Amount</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {%for i in recent_orders%}
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{i.id}}</h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{i.user.username}}</h6>
                            <span class="fw-normal">{{i.created_at}}</span>                          
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{i.address.district}},{{i.address.pin}}</p>
                        </td>
                        <td class="border-bottom-0">
                          <div class="d-flex align-items-center gap-2">
                            {%if i.order_status == "Processing"%}
                             <span class="badge bg-primary rounded-3 fw-semibold">Processing</span> 
                             {%elif i.order_status == "Delivered"%}
                            <span class="badge bg-success rounded-3 fw-semibold">Delivered</span>
                            {%elif i.order_status_id == "Returned"%}
                            <span class="badge bg-danger rounded-3 fw-semibold">Returned</span>
                            {%else%}
                            <span class="badge bg-danger rounded-3 fw-semibold">Cancelled</span>
                            {%endif%}
                          </div>
                        </td>
                        <td class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 fs-4">{{i.total}}</h6>
                        </td>
                      </tr> 
                      {%endfor%}
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      

   
 
 
  <script src="{% static "../assets/libs/jquery/dist/jquery.min.js" %}"></script>
  <script src="{%static "../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "../assets/js/sidebarmenu.js" %}"></script>
  <script src="{% static "../assets/js/app.min.js" %}"></script>
  <script src="{% static "../assets/libs/apexcharts/dist/apexcharts.min.js" %}"></script>
  <script src="{% static "../assets/libs/simplebar/dist/simplebar.js" %}"></script>
  <script src="{% static "../assets/js/dashboard.js" %}"></script>
</body>
{% endblock %}
</html>