{% extends "adminindex.html" %}

{%block content%}
<div class="body-wrapper">
   
    <!-- Removed comment for header section -->
    <!-- Header Start -->
    <!-- Header End -->
    <div class="container-fluid">
        <h2 class=" fw-semibold">Categories </h2>
      <!-- Removed comment for Row 1 -->
      <!-- Row 1 -->
      <div class="row">
        <!-- Content section -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!-- Your content goes here -->
              {% for item in data %}
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title fw-semibold">{{ item }}</h5>
                <div>
                  {% if item.is_deleted %}
                  <a href="{% url 'undlt_category' item.id %}">
                  <button class="btn btn-danger btn-sm">Unavailable</button>
                  </a>
                  {% else %}
                  <a href="{% url 'dlt_category' item.id %}">
                  <button class="btn btn-warning btn-sm">Available</button>
                  </a>
              {% endif %}
                </div>
              </div>
              <hr>
              {% endfor %}
              <div id="chart"></div>
              <a href="{%url 'addcategory'%}"><button class="btn btn-success btn-lg">Add Category</button></a>
            </div>
          </div>
        </div>
        <!-- End of Row 1 -->
      </div>
    </div>
   
    <!-- End of Row 1 -->
  </div>
</div>

{% endblock %}