{% extends "adminindex.html" %}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static "styles/salesreport.css" %}">


    <h2>{{user}}'s Orders</h2>
    

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Made</th>
                <th>Order Status</th>
                <th>Payment Status</th>
                <th>Total</th>
                <th>View items</th>
                <th>Deliver Status</th>

            </tr>
            </thead>
            <tbody>
                {%for i in data%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.order_status}}</td>
                <td>{{i.payment}}</td>
                <td>{{i.total}}</td>
                <td><a href="{%url 'orderdetails' i.id%}" class="btn btn-primary btn-sm">view details</a></td>
                <td>{%if i.order_status == "Processing"%}<a href="{%url 'delivered' i.id%}" class="btn btn-success btn-sm">Delivered</a> 
                    {%else%}{{i.order_status}}
                    {% endif %}

               
            </tr>
            {% endfor %}
            <tbody>
        </table>
              
            

   <script src="{% static "../assets/libs/jquery/dist/jquery.min.js" %}"></script>
  <script src="{%static "../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "../assets/js/sidebarmenu.js" %}"></script>
  <script src="{% static "../assets/js/app.min.js" %}"></script>
  <script src="{% static "../assets/libs/apexcharts/dist/apexcharts.min.js" %}"></script>
  <script src="{% static "../assets/libs/simplebar/dist/simplebar.js" %}"></script>
  <script src="{% static "../assets/js/dashboard.js" %}"></script> 
</body>
{% endblock %}
</html>