{% extends "base.html" %}
{% load static %}

		
{% block content %}
{%block order_status%}
<link rel="stylesheet" type="text/css" href="{% static "styles/checkout.css" %}">

 
							<div class="main_slider" style="margin-top:200px;">
								<div class="container-fluid my-5">
								<div class="row justify-content-center" >
									
									<div class="col-xl-10">
										{% for message in messages %}
										<div class="alert alert-success d-flex align-items-center justify-content-center" role="alert" style="border: 2px solid green; width: 100%;">
											<i class="fa fa-thumbs-up" style="color: green; margin-right: 10px;"></i>
											<span>{{ message }}</span>
										</div>
									{% endfor %}
										<div class="card shadow-lg ">
											<div class="row p-2 mt-3 justify-content-between mx-sm-2">
												<div class="col">
												</div>
												<div class="col">
													<div class="row justify-content-start">
														<div class="col">
															<img class="irc_mi img-fluid cursor-pointer" src="https://i.imgur.com/jFQo2lD.png" width="70" height="70">
														</div>
													</div>
												</div>
												<div class="col-auto">
													<img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30">
												</div>
											</div>
											<div class="row mx-auto justify-content-center text-center">
												<div class="col-12 mt-3">
													<nav aria-label="breadcrumb" class="second">
														<ol class="breadcrumb indigo lighten-6 first">
															<li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
															<li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#"><span class="mr-md-3 mr-1">SHOPPING BAG</span></a><i class="fa fa-angle-double-right text-uppercase" aria-hidden="true"></i></li>
															<li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2" href="#"><span class="mr-md-3 mr-1">CHECKOUT</span></a></li>
														</ol>
													</nav>
												</div>
											</div>
							
											<div class="row justify-content-around">
												<div class="col-md-5">
													<div class="card border border-dark mb-4"style="background-color:silver" >
														<div class="card-header pb-0" >
															<h2 class="card-title space">Checkout</h2>
															<p class="card-text text-muted mt-4 space">SHIPPING DETAILS</p>
															<hr class="my-0">
														</div>
														<div class="card-body">
															<div class="row justify-content-between">
																
															</div>
															<div class="row mt-4">
																<div class="col">
																	<small for="NAME" class=" mb-1"><b>ADD ADDRESS </b></small>
																	<hr class="mt-0">
																</div>
															</div>
															<form method="post">
																{% csrf_token %}
																<div class="form-group">
																	<small for="NAME" class=" mb-1"><b>FULL NAME </b></small>
																	<input type="text" class="form-control form-control-sm" name="fullname" id="NAME" aria-describedby="helpId" placeholder="Enter your name">
																</div>
																<div class="form-group">
																	<small for="NAME" class=" mb-1"><b>PHONE NUMBER</b></small>
																	<input type="text" class="form-control form-control-sm" name="phone_number" id="NAME" aria-describedby="helpId" placeholder="Enter Your Number" pattern="\+91-[0-9]{4}-[0-9]{4}">
																	<small>Format: +91-4565-7890</small>
																</div>
																<div class="form-group">
																	<small for="NAME" class=" mb-1"><b>STREET ADDRESS</b></small>
																	<input type="text" class="form-control form-control-sm" name="streetaddress" id="NAME" aria-describedby="helpId" placeholder="Enter Local Address">
																</div>
																<div class="row no-gutters">
																	<div class="col-sm-6 pr-sm-2">
																		<div class="form-group">
																			<small for="NAME" class=" mb-1"><b>DISTRICT</b></small>
																			<select id="district" name="district" required class="form-control form-control-sm" aria-describedby="helpId">
																				<option value="">Select a district</option>
																				<option value="Thiruvananthapuram">Thiruvananthapuram</option>
																				<option value="Kollam">Kollam</option>
																				<option value="Pathanamthitta">Pathanamthitta</option>
																				<option value="Alappuzha">Alappuzha</option>
																				<option value="Kottayam">Kottayam</option>
																				<option value="Idukki">Idukki</option>
																				<option value="Ernakulam">Ernakulam</option>
																				<option value="Thrissur">Thrissur</option>
																				<option value="Palakkad">Palakkad</option>
																				<option value="Malappuram">Malappuram</option>
																				<option value="Kozhikode">Kozhikode</option>
																				<option value="Wayanad">Wayanad</option>
																				<option value="Kannur">Kannur</option>
																				<option value="Kasaragod">Kasaragod</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-sm-6">
																		<div class="form-group">
																			<small for="NAME" class=" mb-1"><b>PIN</b></small>
																			<input type="text" class="form-control form-control-sm" name="pin" id="NAME" aria-describedby="helpId" placeholder="183">
																		</div>
																	</div>
																</div>
																<div class="row mb-md-5">
																	<div class="col">
																		<button type="submit" name="" id="" class="btn btn-lg btn-block " >Add Address</button>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
					
							
												<div class="col-md-5" >
													<div class="card border border-dark mb-4" >
														<div class="card-header card-2">
															<small class=" mt-md-4 mb-2 space"><b>YOUR ORDER </b> <span class="small text-muted ml-2 cursor-pointer"><b>EDIT SHOPPING BAG</b></span></small>
															<hr class="my-2">
														</div>
														
														 <div class="card-body pt-0"> 
															{% for item in cart_instance %}
															<div class="row justify-content-between">
																<div class="col-auto col-md-7">
																	<div class="media flex-column flex-sm-row">
																		<img class="img-fluid" src="{{item.product.img.url}}" width="62" height="62">
																		<div class="media-body my-auto">
																			<div class="row">
																				<div class="col-auto">
																					<p class="boxed mb-0 ml-3"><b>{{item.product.name}}</b></p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="pl-0 flex-sm-col col-auto my-auto">
																	<p class="boxed-1 mt-3">{{item.quantity}}</p>
																</div>
																<div class="pl-0 flex-sm-col col-auto my-auto">
																	<p class="boxed-1 mt-3"><b>{{item.price}}</b></p>
																</div>
															</div>
															<hr class="my-2">
															{% endfor %}
							
															<div class="row">
																<div class="col">
																	<div class="row justify-content-between">
																		<div class="col-4">
																			<p><b>Total</b></p>
																		</div>
																		<div class="flex-sm-col col-auto">
																			<p  id="total"  class="mb-1"><b>{{total}}</b></p>
																		</div>
																	</div>
																	<hr class="my-0">
																</div>
															</div> 
														
															 
															
															
															<div class="card border border-dark mb-4 mx-3">
																<div class="card-header bg-dark text-white text-center">
																	<h5 style="color: white;">Previous Addresses</h5>
																</div>
																<div class="card-body pt-0">
																	<form method="post">
																		{% csrf_token %}
																		{% for address in prev_address %}
																		<div class="row justify-content-between mb-3">
																			<div class="col-auto col-md-7">
																				<div class="media flex-column flex-sm-row">
																					<input class="form-check-input mt-1" type="radio" name="previous_address" id="prevAddress{{ address.id }}" value="{{ address.id }}" required>
																					<label class="mb-0 ml-3"><b>{{address.district}}, {{address.street_address}}, {{address.pin}}</b></label>
																					<div class="media-body my-auto">
																						<div class="row">
																							<div class="col-auto">
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<hr class="my-2">
																		{% endfor %}
																		<div class="text-center">
																			<button class="btn btn-lg btn-block">Submit</button>
																		</div>
																	</form>
																</div>
															</div>	
														</div>
													</div>
													
	
													
                                                                               
															
										
																
															
														

						
								
							{%endblock%}
							{% endblock content %}
					