{%extends 'usersignup.html'%}
{%block login%}
                
{%endblock%}	

{%block forgotpass%}
                         
                         {%for i in messages%}
                         <p class="text-center">{{i}}</p>
                         {%endfor%}
                         
{%block signupotp%}
                         <form method="post">
                             {%csrf_token%}
                             <div class="mb-3">
                                 <label for="exampleInputtext1" class="form-label">Email</label>
                                 <input type="text" class="form-control" required id="exampleInputtext1"
                                        aria-describedby="textHelp" name="email">
                             </div>
                            
                             <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                             
                         </form>
{%endblock%}
                         {%endblock%}