<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report - PDF</title>
    <style>
        /* Add your PDF-specific styles here */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Order Invoice - for order number {{orders.id}} </h1>

    <p>Total Sales: {{ total }}</p>
    <p>coupons: {%if orders.coupon == None%} 
        nil 
        {% else %}
        {{orders.coupon}}
        {% endif %}
    </p>
    <p>order address: {{orders.address.district}},{{orders.address.street_address}}</p>

    <table>
        <thead>
            <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity}}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>