 {%extends 'checkout.html'%} 
 {% load static %}



{%block order_status%}		
<link rel="stylesheet" type="text/css" href="{% static "styles/order_status.css" %}">
<div class="main_slider" style="margin-top:200px;">
               <div class="container">
                <h1>{{user}}'s orders</h1>
                  <table class="rwd-table">
                    <tbody>
                      <tr>
                        <th>Order number</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Download invoice</th>
                        <th>Details</th>
                        <th>Return/Cancel</th>

                      </tr>
                      <tr>
                        {% for item in data %}
                        
                        <td data-th="Supplier Code">
                            {{item.id}}
                        </td>
                        <td data-th="Supplier Name">
                            {{item.address.district}}
                        </td>
                        <td data-th="Invoice Number">
                          {{item.order_status}}
                        </td>
                        <td data-th="Net Amount">
                           {{item.total}}
                          </td>
                          <td data-th="Invoice Date">
                            <a href="{%url 'orderinvoice' item.id%}"><button class="btn btn-primary btn-sm">Print Invoice</button></a>
                            
                        </td>
                        <td data-th="Invoice Date">
                            <a href="{%url 'order_items' item.id%}"><button class="btn btn-primary btn-sm">View details</button></a>
                            
                        </td>
                        <td data-th="Due Date">
                            {%if item.order_status == "Processing" %}
                            <a href="{%url 'return_order' item.id%}"class="delete-link"><button class="btn btn-primary btn-sm">Return Order</button></a>
                            <a href="{%url 'cancel_order' item.id%}"class="cancel-link"><button class="btn btn-primary btn-sm">Cancel Order</button></a>
                            {%endif%}
                        </td>
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteLinks = document.querySelectorAll('.delete-link,.cancel-link');
        deleteLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                swal.fire({
                    title: "Are you sure?",
                    text: " you want to cancel this order!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, cancel it!',
                    allowOutsideClick: false  // Add this line to prevent clicking outside the modal
                })
                .then((result) => {
                    if(result.isConfirmed){
                        // Perform the redirection without reloading the page
                        window.location.href = link.getAttribute('href');
                     
                    } else {
                        // Do nothing if the user cancels
                       
                    }
                });
            });
        });
    });
</script>
{% endblock %}

     