{%extends 'checkout.html'%}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "styles/orderitems.css" %}">

{%block order_status%}	

   <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2"> Order ID: <span class="fw-bold text-body">{{order.id}}</span></p>
                  <p class="text-muted mb-2"> Address:<span class="fw-bold text-body">{{order.address.district}},{{order.address.street_address}},{{order.address.pin}}</span></p>
                  <p class="text-muted mb-0"> Placed On: <span class="fw-bold text-body">{{order.created_at}}</span> </p>
                </div>
               
              </div>
            </div>
          
            <div class="card-body p-4">
              {%for product in items%}
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <h5 class="bold">{{product.name}}</h5>
                  <p class="text-muted"> Qt: {{product.quantity}}</p>
                  <h4 class="mb-3">${{product.price}} <span class="small text-muted"> {{order.payment}} </span></h4>
                  
                </div>
                <div>
                  <img class="align-self-center img-fluid ml-5"
                    src="{{product.product.img.url}}" width="170">
                </div>
              </div>
             {%endfor%}
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 class="fw-normal mb-0"><a href="{%url 'return_order' order.id%}">Return</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="{%url 'cancel_order' order.id%}">Cancel</a></h5>
                <div class="border-start h-100"></div>
                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fa fa-ellipsis-v"></i></a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
