<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report - PDF</title>
    <style>
        /* Add your PDF-specific styles here */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Sales Report - for {{start_date}} to {{till_date}} </h1>

    <p>Total Sales: {{ total_sales }}</p>
    
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Items</th>
                <th>Total</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>
                        {% for item in order.items.all %}
                            {{ item.product.name }} ({{ item.quantity }}),
                        {% endfor %}
                    </td>
                    <td>{{ order.total }}</td>
                    <td>{{ order.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>