{%extends 'usersignup.html'%}
{%block login%}
                
{%endblock%}	
{%block forgotpass%}
<style>
    .button-container {
        text-align: center;
    }
</style>
                         
                         {%for i in messages%}
                         <p class="text-center">{{i}}</p>
                         {%endfor%}
                         

                         <form method="post">
                             {%csrf_token%}
                             <div class="mb-3">
                                 <label for="exampleInputtext1" class="form-label">OTP</label>
                                 <input type="text" class="form-control" required id="exampleInputtext1"
                                        aria-describedby="textHelp" name="otp">
                             </div>
                             <div class="mb-3">
                                <label for="exampleInputtext1" class="form-label">Password</label>
                                <input type="password" class="form-control" required id="exampleInputtext1"
                                       aria-describedby="textHelp" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputtext1" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" required id="exampleInputtext1"
                                       aria-describedby="textHelp" name="confirm_pass">
                            </div>
                            
                             <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Submit</button>
                             
                         </form>
                                                
{% if not condition %}
<div class="button-container">
    <a href="{% url 'forgotpass' %}">
        <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Resend OTP</button>
    </a>
   
        <label for="exampleInputtext1" class="form-label">Your OTP Has Been Expired. Please Resend And Verify!!</label>
</div>
{% endif %}

                         {%endblock%}
